<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<style>
  ul{list-style-type: none;}
</style>
</head>
<body>
  <button class="btn btn-outline-primary"  (click)="gotoabout()">app.gotoabout</button>
    <h1>TAMILNADU HOUSE CONTRUCTION </h1>
    <p>How would you describe your home? What is the difference between 'home' and 'house'? We asked members from our Learn English community to describe their homes and we've featured a selection of contributions.
    The word ‘home’ is not used to talk about a building. It’s used in a more emotional way, to talk about the place where you live.  </p>
    <ul class="btn-group" role="group"  aria-label="Basic radio toggle button group">
        <li class="nav-item">
            <a class="btn btn-outline-primary" routerLink="/lazy-about" [skipLocationChange]="true">Lazy-About</a>
    
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-primary" routerLink="/lazy-content" [skipLocationChange]="true">Lazy-Content</a>
    
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-primary" routerLink="/lazy-home" [state]="{name:'bala', email:'bala@gamil.com'}"[skipLocationChange]="true">Lazy-Home</a>
        </li>
    </ul>
    <hr>
    <router-outlet></router-outlet> 
</body> 
</html>